*{
  box-sizing: border-box;;
}
body{
  margin: 0;
  background-color: #0D1117;
}

/* **************************heading  */
.heading{
  display: flex;
  height: 2rem;
  border-radius: 13%;
  background-color: #0d1117;
  box-shadow: -8px 10px 7px -7px #43444c;
  /* border: 1px solid white; */
}
.logo{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}
.title{
  color: #daeeff;  
  position: relative;
  left: 6px;
  top: -16px;
}

/*********************** Open-Image */
.open-image{  
  display: flex;
  height: 3rem;
  display: none;
  /* border: 1px solid white; */
}
.image-logo{
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  color: #8491a9;;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* hide-> input-file of image */
#file-input{
  display: none;
}

.image-title{
  color: #426f94;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/****************** All Editing Tool-Container  */
.tool-container{
  display: flex;
  height: 6vh;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid white; */
}
.tool{
  width: 7%;
  height: 90%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white; */
}
.tool-active{
  background-color: #5d5d5d;
}
.tool:hover{
  cursor: pointer;
  background-color: #5d5d5d;
}
.tool>i,.tool>span{
  font-size: 1.7rem;  
  color: #f9efef;
}

/************************** Filter-Container */
.filter-options{
  display: flex;
  height: 14vh;
  justify-content: space-around;
  align-items: center;
  background-color: #161B22;
  border-radius: 3%;
  display: none;
  /* border: 1px solid white; */
}
.filter-container{
  display: flex;
  width: 80%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: auto;
}
/* to Hide scrollbar */
.filter-container::-webkit-scrollbar {
  display: none;
}
/* to Hide scrollbar*/
.filter-container {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}
.filters{
  min-width: 15%;
  height: 90%;
  border-radius: 9%;
  background-image: url("https://wallpaperaccess.com/full/2027665.jpg"); 
  background-size: cover;
  background-blend-mode: color-burn;
  /* border: 1px solid white; */
}
.filters:hover{
  cursor: pointer;
}
/* Set filter on each filters  */
#filter1{
  filter: none;
}
#filter2{
  filter: opacity(50%);
}
#filter3{
  filter: sepia(100%);
}
#filter4{
  filter: grayscale(100%);
}
#filter5{
  filter: hue-rotate(180deg); 
}
#filter6{
  filter: contrast(180%);
}

/**************************** Adjust-Tool */
.adjust-options{
  display: flex;
  height: 6vh;
  justify-content: space-evenly;
  background-color: #161B22;
  border-radius: 5%;
  align-items: center;
  /* display: none; */
  /* border: 1px solid white; */
}

/* cancel and apply */
.cancel,.apply{
  width: 5%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white; */
}
.cancel>i,.apply>i{
  font-size: 1.7rem;
  color: #f9efef;
}
.cancel>i,.apply>i:hover{
  cursor: pointer;
}

/* adjust-container */
.adjust-container{
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;  
  /* border: 1px solid white; */
}
.adjust-tool{
  width: 10%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white; */
}
.adjust-tool>i,.adjust-tool>span{
  font-size: 1.7rem;
  color: #f9efef;
}
.adjust-tool-active{
  border-radius: 15%;
  background-color: #5d5d5d;
}
.adjust-tool:hover{
  background-color: #5d5d5d;
  border-radius: 15%;
}
.adjust-tool>i,.adjust-tool>span:hover{
  cursor: pointer;  
}

/**************************** Pencil-Tool */
.pencil-options{
  display: flex;
  height: 6vh;
  justify-content: space-evenly;
  background-color: #161B22;
  border-radius: 5%;
  align-items: center;
  display: none;
  /* border: 1px solid white; */
}

.color-container{
  width: 12rem;
  height: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid; */
}
.color{
  width: 20%;
  height: 90%;
  border-radius: 50%;
  /* border: 1px solid;   */
}
.color:hover{
  opacity: 1;
  cursor: pointer;
}
.red{
  background-color: red;
  opacity: 0.5;
}
.yellow{
  background-color: yellow;
  opacity: 0.5;
}
.green{
  background-color: green;
  opacity: 0.5;
}
.purple{
  background-color: purple;
  opacity: 0.5;
}
.color-active{
  opacity: 1;
}



/*************************** Media-Queries */
@media screen and (max-width: 1000px) {
  .filters{
    min-width: 155px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 655px) {
  body{
    width: 655px;
    overflow: hidden;
  }
}

